<html lang="en">
  <ng-container *ngIf="isDesktopView">
    <div class="notification-page">
      <div class="header">
        <div>
          <span class="heading">{{ Label.NOTIFICATION }}</span>
          <button class="notification-count">3</button>
        </div>
        <span class="fade markasread">{{ Label.MARK_AS_ALL_READ }}</span>
      </div>
      <div class="notifications-list">
        <div class="unread-notification">
          <img
            class="profile"
            src="../assets/avatar-mark-webber.webp"
            alt="Mark Webber"
          />
          <div class="user-action">
            <div class="user-data">
              <span class="name gap-r">Mark Webber </span>
              <span class="gap-r fade">reacted to your recent post </span>
              <span class="post gap-r">My first tournament today!</span>
              <span class="dot"></span>
            </div>
            <div class="time">1m ago</div>
          </div>
        </div>
        <div class="unread-notification">
          <img
            class="profile"
            src="../assets/avatar-angela-gray.webp"
            alt="Angela Gray"
          />
          <div class="user-action">
            <div class="user-data">
              <span class="name gap-r">Angela Gray </span>
              <span class="gap-r fade">followed you</span>
              <span class="dot"></span>
            </div>
            <div class="time">5m ago</div>
          </div>
        </div>
        <div class="unread-notification">
          <img
            class="profile"
            src="../assets/avatar-jacob-thompson.webp"
            alt="Jacob Thompson"
          />
          <div class="user-action">
            <div class="user-data">
              <span class="name gap-r">Jacob Thompson </span>
              <span class="gap-r fade">has joined your group</span>
              <span class="group gap-r">Chess Club</span>
              <span class="dot"></span>
            </div>
            <div class="time">1m ago</div>
          </div>
        </div>
        <div class="read-notification">
          <img
            class="profile"
            src="../assets/avatar-rizky-hasanuddin.webp"
            alt="Rizky Hasanuddin"
          />
          <div class="user-action">
            <div class="user-data">
              <span class="name gap-r">Rizky Hasanuddin</span>
              <span class="gap-r fade">sent you a private message</span>
            </div>
            <div class="time">5 days ago</div>
            <div class="private-message">
              <span class="fade"
                >Hello, thanks for setting up the Chess Club. I've been a member
                for a few weeks now and I'm already having lots of fun and
                improving my game.</span
              >
            </div>
          </div>
        </div>
        <div class="read-notification">
          <img
            class="profile"
            src="../assets/avatar-kimberly-smith.webp"
            alt="Kimberly Smith"
          />
          <div class="user-action">
            <div class="user-data">
              <span class="name gap-r">Kimberly Smith</span>
              <span class="gap-r fade">commented on your picture</span>
            </div>
            <div class="time">1 week ago</div>
          </div>
          <img
            class="likedImg"
            src="../assets/image-chess.webp"
            alt="liked img"
          />
        </div>
        <div class="read-notification">
          <img
            class="profile"
            src="../assets/avatar-nathan-peterson.webp"
            alt="Nathan Peterson"
          />
          <div class="user-action">
            <div class="user-data">
              <span class="name gap-r">Nathan Peterson</span>
              <span class="gap-r fade">reacted to your recent post</span>
              <span class="post"
                >5 end-game strategies to increase your win rate</span
              >
            </div>
            <div class="time">2 weeks ago</div>
          </div>
        </div>
        <div class="read-notification">
          <img
            class="profile"
            src="../assets/avatar-anna-kim.webp"
            alt="Anna Kim"
          />
          <div class="user-action">
            <div class="user-data">
              <span class="name gap-r">Anna Kim</span>
              <span class="gap-r fade">left the group</span>
              <span class="group">Chess Club</span>
            </div>
            <div class="time">2 weeks ago</div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!isDesktopView">
    <div class="mob-notification-page">
      <div class="mob-header">
        <div>
          <span class="mob-heading">{{ Label.NOTIFICATION }}</span>
          <button class="notification-count">3</button>
        </div>
        <span class="fade">{{ Label.MARK_AS_ALL_READ }}</span>
      </div>
      <div class="notifications-list">
        <div class="mob-unread-notification">
          <img
            class="mob-profile"
            src="../assets/avatar-mark-webber.webp"
            alt="Mark Webber"
          />
          <div class="user-action">
            <div class="user-data">
              <span class="name gap-r">Mark Webber </span>
              <span class="gap-r fade">reacted to your recent post </span>
              <span class="post gap-r">My first tournament today!</span>
              <span class="dot"></span>
            </div>
            <div class="time">1m ago</div>
          </div>
        </div>
        <div class="mob-unread-notification">
          <img
            class="mob-profile"
            src="../assets/avatar-angela-gray.webp"
            alt="Angela Gray"
          />
          <div class="user-action">
            <div class="user-data">
              <span class="name gap-r">Angela Gray </span>
              <span class="gap-r fade">followed you</span>
              <span class="dot"></span>
            </div>
            <div class="time">5m ago</div>
          </div>
        </div>
        <div class="mob-unread-notification">
          <img
            class="mob-profile"
            src="../assets/avatar-jacob-thompson.webp"
            alt="Jacob Thompson"
          />
          <div class="user-action">
            <div class="user-data">
              <span class="name gap-r">Jacob Thompson </span>
              <span class="gap-r fade">has joined your group</span>
              <span class="group gap-r">Chess Club</span>
              <span class="dot"></span>
            </div>
            <div class="time">1m ago</div>
          </div>
        </div>
        <div class="mob-read-notification">
          <img
            class="mob-profile"
            src="../assets/avatar-rizky-hasanuddin.webp"
            alt="Rizky Hasanuddin"
          />
          <div class="user-action">
            <div class="user-data">
              <span class="name gap-r">Rizky Hasanuddin</span>
              <span class="gap-r fade">sent you a private message</span>
            </div>
            <div class="time">5 days ago</div>
            <div class="mob-private-message">
              <span class="fade"
                >Hello, thanks for setting up the Chess Club. I've been a member
                for a few weeks now and I'm already having lots of fun and
                improving my game.</span
              >
            </div>
          </div>
        </div>
        <div class="mob-read-notification">
          <img
            class="mob-profile"
            src="../assets/avatar-kimberly-smith.webp"
            alt="Kimberly Smith"
          />
          <div class="user-action">
            <div class="user-data">
              <span class="name gap-r">Kimberly Smith</span>
              <span class="gap-r fade">commented on your picture</span>
            </div>
            <div class="time">1 week ago</div>
          </div>
          <img
            class="likedImg"
            src="../assets/image-chess.webp"
            alt="liked img"
          />
        </div>
        <div class="mob-read-notification">
          <img
            class="mob-profile"
            src="../assets/avatar-nathan-peterson.webp"
            alt="Nathan Peterson"
          />
          <div class="user-action">
            <div class="user-data">
              <span class="name gap-r">Nathan Peterson</span>
              <span class="gap-r fade">reacted to your recent post</span>
              <span class="post"
                >5 end-game strategies to increase your win rate</span
              >
            </div>
            <div class="time">2 weeks ago</div>
          </div>
        </div>
        <div class="mob-read-notification">
          <img
            class="mob-profile"
            src="../assets/avatar-anna-kim.webp"
            alt="Anna Kim"
          />
          <div class="user-action">
            <div class="user-data">
              <span class="name gap-r">Anna Kim</span>
              <span class="gap-r fade">left the group</span>
              <span class="group">Chess Club</span>
            </div>
            <div class="time">2 weeks ago</div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</html>
